In [1]:
import pandas as pd
from io import StringIO

In [2]:
# Read in election csv
csv =  "Resources/elec_results_2020.csv"
elec_df = pd.read_csv(csv)
elec_df.head()

   state_fips  state_name  red_blue_2020
0           1     ALABAMA              1
1           2      ALASKA              1
2           4     ARIZONA              0
3           5    ARKANSAS              1
4           6  CALIFORNIA              0

In [3]:
elec_df["elec_result"] = elec_df["red_blue_2020"]

In [4]:
elec_df.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [5]:
elec_df1 = elec_df.copy()

In [6]:
elec_df1.head()

   state_fips  state_name  red_blue_2020  elec_result
0           1     ALABAMA              1            1
1           2      ALASKA              1            1
2           4     ARIZONA              0            0
3           5    ARKANSAS              1            1
4           6  CALIFORNIA              0            0

In [7]:
elec_df1 = elec_df1[["state_name", "elec_result"]]

In [8]:
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [9]:
elec_df1.value_counts()

state_name            elec_result
ALABAMA               1              1
PENNSYLVANIA          0              1
NEVADA                0              1
NEW HAMPSHIRE         0              1
NEW JERSEY            0              1
NEW MEXICO            0              1
NEW YORK              0              1
NORTH CAROLINA        1              1
NORTH DAKOTA          1              1
OHIO                  1              1
OKLAHOMA              1              1
OREGON                0              1
RHODE ISLAND          0              1
MONTANA               1              1
SOUTH CAROLINA        1              1
SOUTH DAKOTA          1              1
TENNESSEE             1              1
TEXAS                 1              1
UTAH                  1              1
VERMONT               0              1
VIRGINIA              0              1
WASHINGTON            0              1
WEST VIRGINIA         1              1
WISCONSIN             0              1
NEBRASKA              1              1
MISSOURI              1              1
ALASKA                1              1
IDAHO                 1              1
ARIZONA               0              1
ARKANSAS              1              1
CALIFORNIA            0              1
COLORADO              0              1
CONNECTICUT           0              1
DELAWARE              0              1
DISTRICT OF COLOMBIA  0              1
FLORIDA               1              1
GEORGIA               0              1
HAWAII                0              1
ILLINOIS              0              1
MISSISSIPPI           1              1
INDIANA               1              1
IOWA                  1              1
KANSAS                1              1
KENTUCKY              1              1
LOUISIANA             1              1
MAINE                 0              1
MARYLAND              0              1
MASSACHUSETTS         0              1
MICHIGAN              0              1
MINNESOTA             0              1
WYOMING               1              1
dtype: int64

In [10]:
elec_df1[elec_df1["state_name"] ==  "WYOMING"]["elec_result"]

50    1
Name: elec_result, dtype: int64

In [11]:
elec_df1.head()

   state_name  elec_result
0     ALABAMA            1
1      ALASKA            1
2     ARIZONA            0
3    ARKANSAS            1
4  CALIFORNIA            0

In [12]:
file = "county_pop_merge.csv"
df = pd.read_csv(file)
df = df.dropna(subset=['state_name'])
df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879

In [13]:
df_dummy = df.copy()

In [14]:

df['state_name'] = df['state_name'].apply(lambda x: x.strip())
df['e_results'] = ''

for i in df.index:
    state = df.loc[i, 'state_name']
    try:
        df['e_results'].at[i] = elec_df1[elec_df1['state_name'].str.strip() == state.strip()]['elec_result'].values[0]
    except Exception as e:
        print(e)
    
df.sample(n=20)

index 0 is out of bounds for axis 0 with size 0

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results
2110,39,OHIO,39169,Wayne County,1,7,5,2020-12-31,Wayne,Ohio,5829,146,115694,1
2040,39,OHIO,39029,Columbiana County,1,7,5,2020-12-31,Columbiana,Ohio,6147,119,101118,1
464,13,GEORGIA,13181,Lincoln County,0,0,0,2020-12-31,Lincoln,Georgia,438,11,8031,0
438,13,GEORGIA,13129,Gordon County,0,0,0,2020-12-31,Gordon,Georgia,4897,66,58780,0
983,21,KENTUCKY,21005,Anderson County,1,7,5,2020-12-31,Anderson,Kentucky,971,2,22833,1
514,13,GEORGIA,13283,Treutlen County,0,0,0,2020-12-31,Treutlen,Georgia,503,15,6822,0
1804,35,NEW MEXICO,35039,Rio Arriba County,0,0,0,2020-12-31,Rio Arriba,New Mexico,2285,42,38521,0
175,5,ARKANSAS,5149,Yell County,0,0,0,2020-12-31,Yell,Arkansas,2390,42,21181,1
1501,29,MISSOURI,29061,Daviess County,0,0,0,2020-12-31,Daviess,Missouri,468,9,8283,1
2369,46,SOUTH DAKOTA,46047,Fall River County,0,0,0,2020-12-31,Fall River,South Dakota,454,12,6708,1
1301,26,MICHIGAN,26165,Wexford County,1,4,8,2020-12-31,Wexford,Michigan,994,18,33743,0
1297,26,MICHIGAN,26157,Tuscola County,1,4,8,2020-12-31,Tuscola,Michigan,2637,89,52289,0
1254,26,MICHIGAN,26071,Iron County,1,4,8,2020-12-31,Iron,Michigan,813,37,11066,0
494,13,GEORGIA,13243,Randolph County,0,0,0,2020-12-31,Randolph,Georgia,425,31,6682,0
54,1,ALABAMA,1109,Pike County,0,0,0,2020-12-31,Pike,Alabama,2023,23,32966,1
1651,31,NEBRASKA,31019,Buffalo County,0,0,0,2020-12-31,Buffalo,Nebraska,4324,48,50114,1
812,19,IOWA,19071,Fremont County,0,0,0,2020-12-31,Fremont,Iowa,467,5,6729,1
1791,35,NEW MEXICO,35015,Eddy County,0,0,0,2020-12-31,Eddy,New Mexico,4544,70,58418,0
1132,22,LOUISIANA,22063,Livingston Parish,1,7,5,2020-12-31,Livingston,Louisiana,8761,125,143737,1
1717,31,NEBRASKA,31151,Saline County,0,0,0,2020-12-31,Saline,Nebraska,1740,3,13987,1

In [15]:
df["e_results"].value_counts()

1    1982
0    1141
        1
Name: e_results, dtype: int64

In [16]:
df[["state_name", "e_results"]].value_counts()

state_name            e_results
TEXAS                 1            254
GEORGIA               0            159
VIRGINIA              0            133
KENTUCKY              1            120
MISSOURI              1            115
KANSAS                1            105
ILLINOIS              0            102
NORTH CAROLINA        1            100
IOWA                  1             99
TENNESSEE             1             95
NEBRASKA              1             93
INDIANA               1             92
OHIO                  1             88
MINNESOTA             0             87
MICHIGAN              0             83
MISSISSIPPI           1             82
OKLAHOMA              1             77
ARKANSAS              1             75
WISCONSIN             0             72
PENNSYLVANIA          0             67
ALABAMA               1             67
FLORIDA               1             66
SOUTH DAKOTA          1             65
LOUISIANA             1             64
COLORADO              0             63
CALIFORNIA            0             58
NEW YORK              0             57
MONTANA               1             56
WEST VIRGINIA         1             55
NORTH DAKOTA          1             53
SOUTH CAROLINA        1             46
IDAHO                 1             44
WASHINGTON            0             39
OREGON                0             36
NEW MEXICO            0             33
UTAH                  1             29
MARYLAND              0             24
WYOMING               1             23
NEW JERSEY            0             21
ALASKA                1             19
NEVADA                0             17
MAINE                 0             16
ARIZONA               0             15
VERMONT               0             14
MASSACHUSETTS         0             14
NEW HAMPSHIRE         0             10
CONNECTICUT           0              8
RHODE ISLAND          0              5
HAWAII                0              5
DELAWARE              0              3
DISTRICT OF COLUMBIA                 1
dtype: int64

In [17]:
df.columns

Index(['state_fips', 'state_name', 'fips', 'county_name', 'mask_mandate',
       'month_started', 'mandate_duration_months', 'date', 'county', 'state',
       'cases', 'deaths', 'popestimate2020', 'e_results'],
      dtype='object')

In [ ]:
#df = df.drop(columns=['Index'])

In [18]:
df.sample(n=10)

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results
1139,22,LOUISIANA,22077,Pointe Coupee Parish,1,7,5,2020-12-31,Pointe Coupee,Louisiana,1918,57,21529,1
161,5,ARKANSAS,5121,Randolph County,0,0,0,2020-12-31,Randolph,Arkansas,1455,42,18247,1
2187,40,OKLAHOMA,40145,Wagoner County,0,0,0,2020-12-31,Wagoner,Oklahoma,4650,46,82925,1
2869,51,VIRGINIA,51141,Patrick County,1,5,7,2020-12-31,Patrick,Virginia,765,28,17493,0
2398,46,SOUTH DAKOTA,46105,Perkins County,0,0,0,2020-12-31,Perkins,South Dakota,285,11,2832,1
2113,39,OHIO,39175,Wyandot County,1,7,5,2020-12-31,Wyandot,Ohio,1628,33,21711,1
747,18,INDIANA,18125,Pike County,0,0,0,2020-12-31,Pike,Indiana,934,27,12378,1
844,19,IOWA,19135,Monroe County,0,0,0,2020-12-31,Monroe,Iowa,670,17,7770,1
1790,35,NEW MEXICO,35013,Dona Ana County,1,5,7,2020-12-31,Doña Ana,New Mexico,17691,280,221262,0
2936,53,WASHINGTON,53003,Asotin County,1,6,6,2020-12-31,Asotin,Washington,959,18,22820,0

In [19]:
df['cases_perc'] = df['cases']/df['popestimate2020']
df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,0.074628
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,0.059319
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,0.061572
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,0.082851
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,0.080185

In [21]:
df['deaths_perc'] = df['deaths']/df['popestimate2020']
df.head()

,state_fips,state_name,fips,county_name,mask_mandate,month_started,mandate_duration_months,date,county,state,cases,deaths,popestimate2020,e_results,cases_perc,deaths_perc
0,1,ALABAMA,1001,Autauga County,0,0,0,2020-12-31,Autauga,Alabama,4190,48,56145,1,0.074628,0.000855
1,1,ALABAMA,1003,Baldwin County,1,7,5,2020-12-31,Baldwin,Alabama,13601,161,229287,1,0.059319,0.000702
2,1,ALABAMA,1005,Barbour County,0,0,0,2020-12-31,Barbour,Alabama,1514,32,24589,1,0.061572,0.001301
3,1,ALABAMA,1007,Bibb County,0,0,0,2020-12-31,Bibb,Alabama,1834,46,22136,1,0.082851,0.002078
4,1,ALABAMA,1009,Blount County,0,0,0,2020-12-31,Blount,Alabama,4641,63,57879,1,0.080185,0.001088

In [22]:
df.to_csv('final.csv')

In [ ]:
# I don't think we need the rest of these codes as "final.csv" has all the information needed.
#elec_df1["state_name"] = elec_df1["state_name"].astype(str)
#elec_df1.dtypes

In [ ]:
#df_complete = pd.merge(df, elec_df1, axis=0)
#df_complete.head()

In [ ]:
#df_complete.head()

In [ ]:
# Turn dataframe into a dictionary
#election_series = elec_df[["state_name", "red_blue_2020"]]
#key_value = election_series.set_index('state_name')['red_blue_2020'].to_dict()
#print(key_value)

In [ ]:

#d = key_value.items()

#new_d = {str(key): str(value) for key, value in d}
#print(new_d)

In [ ]:
#df['elec_result'] = df['state_name'].map(new_d)

In [ ]:
#df.head()

In [ ]:
#df

In [ ]:
#df.dtypes